xsd/i2c.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <!-- Includes -->
    <xs:include schemaLocation="types.xsd"/>

    <!-- Types only used here -->

    <!-- Element -->
    <xs:element name="i2c">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bus" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="device" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="nonEmptyString" use="required"/>
                                    <xs:attribute name="address" type="hex" use="required"/>
                                    <xs:attribute name="script" type="nonEmptyString" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="controller" type="xs:nonNegativeInteger" use="required"/>
                    </xs:complexType>
                    <xs:unique name="uniqueDeviceId">
                        <xs:selector xpath="device"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>